openapi: 3.1.0
info:
  title: NHL Web Game Center Players API
  description: Unofficial OpenAPI description of the NHL Web API hosted at api-web.nhle.com. This API exposes public read-only endpoints for schedule, scores, standings, rosters, club statistics, player game logs, and game center (boxscore and play-by-play) data. No authentication is required for the documented endpoints; usage should respect NHL terms of service.
  version: 1.0.0
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
servers:
- url: https://api-web.nhle.com
  description: NHL Web API
tags:
- name: Players
paths:
  /v1/player/{player}/landing:
    get:
      summary: Player landing details
      operationId: getPlayerLanding
      tags:
      - Players
      parameters:
      - name: player
        in: path
        required: true
        description: Player ID.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /v1/player/{player}/game-log/{season}/{game-type}:
    get:
      summary: Player game log
      operationId: getPlayerGameLog
      tags:
      - Players
      parameters:
      - name: player
        in: path
        required: true
        schema:
          type: string
      - name: season
        in: path
        required: true
        description: Season identifier in YYYYYYYY format.
        schema:
          type: string
      - name: game-type
        in: path
        required: true
        description: Game type (2 regular season, 3 playoffs).
        schema:
          type: integer
          enum:
          - 2
          - 3
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
