openapi: 3.1.0
info:
  title: NHL Web Game Center Teams API
  description: Unofficial OpenAPI description of the NHL Web API hosted at api-web.nhle.com. This API exposes public read-only endpoints for schedule, scores, standings, rosters, club statistics, player game logs, and game center (boxscore and play-by-play) data. No authentication is required for the documented endpoints; usage should respect NHL terms of service.
  version: 1.0.0
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
servers:
- url: https://api-web.nhle.com
  description: NHL Web API
tags:
- name: Teams
paths:
  /v1/roster/{team}/current:
    get:
      summary: Current team roster
      operationId: getRosterCurrent
      tags:
      - Teams
      parameters:
      - name: team
        in: path
        required: true
        description: Team tri-code (e.g. TOR, BOS).
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /v1/roster/{team}/{season}:
    get:
      summary: Team roster for a season
      operationId: getRosterBySeason
      tags:
      - Teams
      parameters:
      - name: team
        in: path
        required: true
        schema:
          type: string
      - name: season
        in: path
        required: true
        description: Season identifier in YYYYYYYY format (e.g. 20232024).
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /v1/club-stats/{team}/now:
    get:
      summary: Current club statistics
      operationId: getClubStatsNow
      tags:
      - Teams
      parameters:
      - name: team
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /v1/club-schedule-season/{team}/now:
    get:
      summary: Current season schedule for a team
      operationId: getClubScheduleSeasonNow
      tags:
      - Teams
      parameters:
      - name: team
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
